/* LoginPage.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-box {
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-box h1 {
    color: #ffffff;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box label {
    margin-bottom: 5px;
    text-align: left;
    color: #ffffff;
  }
  
  .login-box input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    background-color: #dddddd00;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
  }
  
  .login-box button {
    padding: 10px;
    background: #03aed2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-box button:hover {
    background: #0288a1;
  }
  
  .login-box p {
    color: red;
    margin-top: 10px;
  }
  